<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}

{% block title %}
Sobre Mim
{% endblock %}

{% block content %}
<h1>Sobre Mim</h1>

<p>Olá! Eu sou estudante de TI, apaixonado por tecnologia e por descobrir como as coisas funcionam por trás das telas. Atualmente, estou focado em aprender a programar em Python e a construir aplicações web utilizando o Flask.</p>

<h2>O que eu gosto de fazer</h2>
<ul>
    <li><strong>Aprender Programação:</strong> Passar o tempo criando pequenos códigos e resolvendo desafios de lógica.</li>
    <li><strong>Consumir Conteúdo de TI:</strong> Assistir a vídeos, ler artigos e acompanhar canais sobre o mundo da tecnologia.</li>
    <li><strong>Hobbies Pessoais:</strong> No tempo livre, gosto de ouvir música, jogar brawl e ler.</li>
</ul>
{% endblock %}